body {
  background-color: #422e43;
  margin: 0 auto;
  font-family: "Luckiest Guy", sans-serif;
  font-size: 25px;
  overflow-x: hidden;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.text {
  text-align: center;
  text-shadow: 0px 2px 3px black;
  margin-top: 5px;
  font-size: 32px;
  color: aliceblue;
}

#dl {
  display: block;
  position: relative;
  margin: 0 auto;
}

.logo {
  margin-left: 200px;
  margin-top: 10px;
  position: relative;
  margin-bottom: 40px;
}

.background {
  margin-left: 30px;
  position: relative;
  text-align: center;
}

.imgdl {
  width: 300px;
  margin-left: 85px;
}

iframe {
  display: block;
  position: relative;
  border-style: double;
  margin-left: 210px;
  width: 440px;
  height: 250px;
}

a {
  text-align: center;
  font-size: 35px;
  color: #3871c7;
}

canvas {
  position: absolute;
  z-index: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  top: 0;
  left: 0;
  filter: blur(8px);
  opacity: 1;
}

.centered {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preview {
  border: 2px solid;
  margin-left: 7px;
  position: relative;
  width: 115px;
  margin-right: 7px;
}

.contact {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
}

.frame {
  position: absolute;
  margin-left: 150px;
  pointer-events: none;
  cursor: default;
  margin-top: -55px;
  z-index: 10;
}

#socials {
  position: fixed;
  bottom: 50px;
  right: 0;
  margin: 20px;
}
